* {
    box-sizing: border-box;
    text-align: center;
  }

h3 {
    color: #20d54d
   }
  
h1{
    color: #23b24d
  }

button {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 40px;
    border: 2px solid transparent;
    margin: 5px;
}


svg {
    position: absolute;
    right: 540px;
    bottom: 200px;
    z-index: -1;
}


.column{
    display:inline-block
}

#reset {
    width: auto;
    height: auto;
    background-color: #20d54d;
    border-radius: 4px;
    border: auto;
    margin-bottom: auto;
}

#reset:hover {
    width: auto;
    height: auto;
    background-color: #23b24d;
    border-radius: 4px;
    border: auto;
    margin-bottom: auto;
}


#valid {
    visibility: hidden;
}

.home {
    text-decoration: none;
    color: black;
    padding: 1px;
    text-align: left;
    border: solid black 1px;
    border-radius: 2px;
    background-color: #23b24d;
  }