* {
    box-sizing: border-box;
    text-align: center;
  }

h3 {
    color: #20d54d
   }

h1{
    color: #23b24d
  }

.gameType {
    margin: 15px;
    padding: 5px;
    background-color: #20d54d;
    border-radius: 5px;
    text-decoration: none;
    border: solid black 1px;
  }



.home {
    text-decoration: none;
    color: black;
    padding: 1px;
    text-align: left;
    border: solid black 1px;
    border-radius: 2px;
    background-color: #23b24d;
  }
