
* {
  box-sizing: border-box;
  text-align: center;
}



form, h3 {
  color: #20d54d
}

h1{
  color: #23b24d
}

.home {
  text-decoration: none;
  color: black;
  padding: 1px;
  text-align: left;
  border: solid black 1px;
  border-radius: 2px;
  background-color: #23b24d;
}


.blankSquare {
  width: 110px;
  height: 110px;
  padding: 0px;
  border: 1px black;
  margin: 0;
}
.square { 
  width: 110px;
  height: 110px;
  padding: 5px;
  border: 2px black solid ;
  margin: 0;
}
.moveNumber {
  display: inline-block;
  position:relative;
  right:15px;
  bottom: 5px;
  width: 0;
  height:0;
  margin: 0;
}

.blankSquareU {
  width: 70px;
  height: 70px;
  padding: 0px;
  border: 1px black;
  margin: 0;
}
.squareU { 
  width: 70px;
  height: 70px;
  padding: 5px;
  border: 1.5px black solid ;
  margin: 0;
}
.moveNumberU {
  display: inline-block;
  position:relative;
  right:15px;
  bottom: 5px;
  width: 0;
  height:0;
  margin: 0;
}


.horizontal {
  height: 2px;
  background-color: red;
  width: 345px;
  position: relative;
  top: 58px;
  left: 657px;
  visibility:hidden;
}
.vertical {
  height: 2px;
  background-color: red;
  position: relative;
  width: 343px;
  visibility: hidden;
  transform: rotate(90deg);
}
#vertical1 { 
  top:173px;
  left: 540px;
}
#vertical2 {
  top:55px;
  left: 658px;
}
#vertical3 {
  bottom: 63px;
  left: 776px
}

.diagonal {
  height: 2px;
  background-color: red;
  position: relative;
  visibility: hidden;
  width: 486px;
}

#diagonal1 {
  transform: rotate(45deg);
  top: 177px;
  left: 588px;
}
#diagonal2 {
  transform: rotate(315deg);
  top: 175px;
  left: 586px
}

#again, #againU {
  visibility: hidden;
}

.notClicked, .gameType {
  margin: 15px;
  padding: 5px;
  background-color: #20d54d;
  border-radius: 5px;
}

.clicked {
  margin: 15px;
  padding: 5px;
  background-color: #1aab3e;
  border-radius: 5px;
}

#play {
  padding-left: 10px;
  padding-right: 10px;
}

#selectError {
  visibility: hidden;
}

.gameType {
  text-decoration: none;
  border: solid black 1px;
}

.bigSquare {
  display: inline-block;
  margin: 3px;
  opacity: 75%;
}

#title {
  color: #23b24d
}

svg {
  position: absolute;
  pointer-events: none;
  z-index: 1;
}

circle {
  visibility: hidden;
}

rect {
  visibility: hidden;
}

line {
  visibility: hidden;
}

.active {
  border: rgb(0, 255, 102) 3px solid;
  margin: 0;
  opacity: 100%;
}

.winLineU {
  visibility: hidden;  
}